.nav-tabs {
    overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;  
    display: -moz-box;
}

.nav-tabs>li 
{
    float:none !important;
}

.nav-tabs > li .close {
	margin: -2px 0 0 10px;
	font-size: 18px;
	outline:none;
}

.marginBottom {
	margin-bottom :1px !important;
}

.operationDiv {
	padding:5px 10px 5px 5px;
}

.operationDivWrapper {
	margin-top:-1px;
}

.leftMenu {
	height :70%;
	background-color: #E6E6E6;
	border-right: 2px solid #BFBFBF;
}