.ll-header
{
	color:white;
	font-style:italic;
	font-family:Lucida Console, Monaco, monospace;
	background-color:#4876FF;
	background-image:url(/storage/images/logo.png);
	background-repeat:no-repeat;
}

.text-title
{
	text-transform: uppercase;
	font-size:28px;	
	padding-left:60px;
}

.text-subtitle
{
	font-size:18px;
	padding-left:60px;
}

.additional-info
{
	padding-top:25px;
}

.modal-content
{
	margin:40px auto 40px auto;
	width:95%;
}

.modal-content .close
{
	outline:none;
}