@url: "/storage/images"; /* папка с изображениями */
@min_width_app: 1024px; /* минимальная ширина сайта */
@top_margin_design: 95px; /* отступ сверху (панель навигации курсов) */
@top_margin_control: 43px; /* отступ сверху (панель навигации настроек курса) */
@terminal: #4876ff; /* цвет терминальных узлов */
@noterminal: #d9534f; /* цвет нетерминальных узлов */


/* кастомный скролл */
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(224,224,224,0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(224,224,224,0.8); 
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(224,224,224,0.7); 
}

/* функции для границ */
.borders(@width: 1px, @type: solid, @color: #ddd)
{
	border:@arguments;
}
.borders-side(@side: top, @width: 1px, @type: solid, @color: #ddd)
{
	border-@{side}:@width @type @color;
}

/* функция для запрета выделения */
.unselectable
{	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

body
{	
	min-width:@min_width_app;
	
	/* разрешение ширины браузера меньше @min_width_app */
	#small-screen 
	{
		@media (min-width: @min_width_app)
		{
			display: none!important;
		}
		
		p
		{
			font-size:18px;
			margin-left:10px;
		}
	}
	
	/* нормальное разрешение ширины браузера */
	#big-screen 
	{
		@media (max-width: (@min_width_app - 1px))
		{
			display: none!important;
		}	

		/* Header */
		/*.ll-header
		{
			color:white;
			font-style:italic;
			font-family:Lucida Console, Monaco, monospace;
			background-color:#4876FF;
			background-image: url("@{url}/logo.png");
			background-repeat:no-repeat;
			background-position:10px 0%;
			
			a.go-home
			{
				text-decoration:none; 
				color:white
			}
			
			.text-title
			{
				text-transform: uppercase;
				font-size:24px;	
				padding-left:60px;
				margin-bottom:0px;
			}

			.text-subtitle
			{
				font-size:16px;
				padding-left:60px;
			}
						
			button
			{
				margin-top:15px;
				.borders(1px, solid, #fff);
			}
		}*/
		
		/* прогресс бар при загрузке */
		#loading
		{
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			display:none;
			z-index:1200;
			background-color: rgba(255,255,255,0.7);
			
			#loading_gif
			{
				height:200px;
				width:200px;
				margin:@top_margin_design auto 0 auto;
				background-image: url('@{url}/additional/loading.gif');
				background-repeat:no-repeat; 
				background-size:100%;
			}
		}	
		
		/* основной контент */
		.ll-content
		{
			/* кнопки добавить/открыть курс */
			#common-control
			{
				@media (max-width: 1200px) {
					width: 10%; 	
				}
				@media (min-width: 1200px) {
					width: 8%; 	
				}
			}
			
			/* навигация между курсами */
			#nav-control
			{
				@media (max-width: 1200px) {
					width: 85%; 	
				}
				@media (min-width: 1200px) {
					width: 88%; 	
				}
			}
			
			/* кнопка справки */
			#reference-control
			{	
				@media (max-width: 1200px) {
					width: 5%; 	
				}
				@media (min-width: 1200px) {
					width: 4%; 	
				}
				
				#open-reference
				{			   
					font-size: 20px;
					padding: 4px 9px 0px 9px;
				}
			}
			
			/* навигация курсов */
			#courses-tabs 
			{
				overflow-x: auto;
				overflow-y: hidden;
				display: -webkit-box;  
				display: -moz-box;			
				
				.unselectable;
			  
				> li 
				{
					float:none !important;
					
					/* закрытие */
					.close 
					{
						margin: -2px 0 0 10px;
						font-size: 18px;
						outline:none;
						color:#e00;
						opacity:0.5;
						
						&:hover
						{
							color:#a00;
						}
					}
				}
			}
				
			/* содержимое курсов */
			#courses-divs
			{
				overflow:hidden;
				padding-top:10px;
				
				/* course graph containers */
				.course-graph-wrap
				{
					padding-right:0px;
					
					.unselectable;
					
					/* управление графом курса (правая часть) */
					.course-graph 
					{	
						height:calc(~"100vh - @{top_margin_design}");
						.borders;
						
						/* кнопка Домой */
						.goto-graph
						{
							position:relative; 
							top:3px; 
							left:3px; 
							cursor:pointer; 
							height:32px;
							width:32px;
							color:#888;
							display:inline-block;
							background-color:white;
							padding: 3px;
							font-size: 22px;
							.borders(1px, dashed, #888);
						}
					}
				}

				/* course management containers */
				.course-management-wrap
				{
					padding:0px;				
					
					.unselectable;
					
					/* управление курсом (левая часть) */
					.course-management
					{
						height:calc(~"100vh - @{top_margin_design}");					
						
						/* панель настроек */
						.nav-tabs
						{
							width: 470px;
							
							li a
							{
								padding:10px 8px;
							}
						}
						
						/* содержимое настроек */
						.tab-content
						{
							height:calc(~"100% - @{top_margin_control}"); 
							overflow:hidden;
							padding-top:10px;	
						}
						
						input, button, select
						{
							margin-bottom:10px;
						}
						
						/* сохранение и обновление курса */
						.course-save
						{
							margin-top:25px;
							margin-bottom:0px;
						}
						.course-refresh
						{
							margin-top:5px;
							margin-bottom:0px;
						}
						
						/* вкладка настроек Основное */
						.course-main
						{
							height: 100%;
							
							.row-main
							{
								height: 100%;
								
								.col-course-description
								{
									height: 100%;
									
									textarea
									{
										height:calc(~"100% - @{top_margin_control} - 53px");
										resize:none;							
									}
								}
							}
							
							
						}
						
						/* вкладка настроек Структура */
						.course-structure
						{				
							height: 100%;
					
							scrollbar-face-color: #ddd;
							scrollbar-arrow-color: black;
							scrollbar-track-color: white;
							
							> button
							{
								padding:6px 10px;
							}
							
							.clear-structure, .clear-subcourse
							{
								color:#c9302c;
								background-color:white;
								border-color:#ac2925;
								
								&:hover
								{															
									color:white;
									background-color:lighten(#c9302c,20%);
								}
							}
							
							/* обводка вокруг таблицы со структурой */
							.table-wrap-border
							{
								height:calc(~"100% - @{top_margin_control} - 1px");
								.borders;
								
								.table-wrap
								{			
									height:100%;
									overflow-x:hidden;			
									overflow-y:auto;	
									
									/* таблица со структурой */
									.table
									{
										margin:0px;
										
										/* строка с подкурсом (минимальная единица таблицы) */
										tr.subcourse
										{
											/* если создан и редактируется */
											&.new
											{
												.borders(3px, solid, #4cae4c);
											}
											
											/* сохранённый подкурс */
											&.nonew
											{
												.borders-side(top, 3px, solid, gray);
												.borders-side(left, 2px, solid, gray);
												.borders-side(right, 2px, solid, gray);
												
												&:last-child
												{
													.borders-side(bottom, 3px, solid, gray);
												}
											}
											
											/* информация о подкурсе */
											td.subcourses-info
											{
												width:100%;	
												
												/* управление (верхняя панель) */
												.links-control
												{
													overflow:hidden;
													
													.get-course-wrap
													{
														padding:0px;
													}		
													
													/* очистка связей / удаление */
													.subcourse-delclear
													{
														padding-left:0px;
													}
														
													/* название подкурса */
													div.subcourse-name
													{
														overflow:hidden;
														cursor: pointer;
														width:100%; 
														
														> .text-name
														{
															overflow:hidden;
															white-space: nowrap;
															text-overflow: ellipsis;
															max-width: 300px; 	
														}
														
														&:hover
														{
															.borders(3px, solid, #ec971f);
														}		
													}
												}
												
												/* список связей */
												.links-list
												{			
													overflow:hidden;
												
													/* элемент связи */
													.link-item
													{
														/* добавленный при построении решётки */
														&.new
														{
															.borders(2px,dashed,#4cae4c);
														}
														
														/* добавленный пользователем */
														&.nonew
														{
															.borders(1px,dashed,#bbb);
														}
														
														padding:6px;
														border-radius:6px;
														margin-bottom:3px;
														margin-right:2px;
														display:inline-block;
														background-color:#f5f5f5;											
														
														@media (max-width: 1300px) {
															width: 49.5%; 	
														}
														@media (min-width: 1300px) {
															width:32.8% ; 	
														}
														
														/* т.к. родительский элемент - table row, то просто 100% не хватит. назначаем ширину разным разрешениями экрана */
														> .link-name
														{
															display: inline-block;	
															white-space: nowrap;
															overflow: hidden; 
															text-overflow: ellipsis;

															@media (min-width: @min_width_app) and (max-width: 1100px) {
																max-width: 235px; 	
															}
															@media (min-width: 1100px) and (max-width: 1150px) {
																max-width: 260px; 	
															}
															@media (min-width: 1150px) and (max-width: 1200px) {
																max-width: 272px; 	
															}
															@media (min-width: 1200px) and (max-width: 1250px) {
																max-width: 240px; 	
															}
															@media (min-width: 1250px) and (max-width: 1300px) {
																max-width: 252px; 	
															}	
															@media (min-width: 1300px) and (max-width: 1350px) {
																max-width: 164px; 	
															}
															@media (min-width: 1350px) {
																max-width: 172px; 	
															}											
														}	
														
														.delete-link
														{
															color:#d9534f;
															cursor:pointer;
															
															span
															{
																font-size:16px;	
															}
														}								
													}
												}
											}
										}
									}
								}
							}
						}
						
						/* вкладка настроек Операции */
						.course-operations
						{
							height: 100%;
							
							/* панель расширение/фрагментирование */
							.nav-tabs
							{
								width: 255px;
								
								li a
								{
									padding:10px 8px;
								}
							}
							
							/* кнопки удалить/очистить */
							.btn-group.course-delclear
							{
								button
								{
									margin-bottom:0px;
								}
								
								ul
								{
									left:auto;
									right:0;
									min-width:100px;
								}
							}
						}
					}
				}
			}
		}

		/* модальные окна */
		.modal
		{
			/* окно Поиск курсов */
			&#courses-list
			{
				#found
				{
					display:inline-block;
					font-size:18px;
					margin:5px 10px 0 0;
				}
				
				.table-wrap
				{
					height:365px;
					overflow-y:scroll;
					margin-top:15px;
					
					table 
					{
						tr
						{
							cursor:pointer;
							font-size:20px;
								
							&.c-active
							{
								.borders-side(left, 5px, solid, green);
							}
							
							&.c-noactive
							{
								.borders-side(left, 5px, solid, red);
							}	
							
							div
							{
								width:28px;
								height:28px;
								margin-right:15px;
								color:#777;
								font-size:24px;
								border-radius:14px;
								
								&.terminal
								{
									background-color:@terminal;
								}
								
								&.noterminal
								{
									background-color:@noterminal;
								}						
							}
						}
					}
				}
			}
			
			.modal-content
			{
				min-width:@min_width_app*0.95;
				margin:40px auto 40px auto;
				width:95%;
			}

			.modal-content .close
			{
				outline:none;
			}
		}
	}
}